ETHERCHUNK_UPLOAD_URL="http://localhost:1633/chunks"
# Only needed to read content back from a different node than it was uploaded to
# ETHERCHUNK_DOWNLOAD_URL="http://localhost:1633/chunks"
ETHERCHUNK_SIGNER=""
ETHERCHUNK_BATCH_ID=""
ETHERCHUNK_BATCH_DEPTH=
ETHERCHUNK_REDUNDANCY_LEVEL=0
ETHERCHUNK_PARALLELISM=32
# Set to true to redact filenames and hashes from output
ETHERCHUNK_PRIVATE=false
